/* This CSS will print because %message-shared is extended. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.collection {
  text-align: center;
  margin-top: 10px;
}

.xxlarge {
  font-size: 7rem;
  color: green;
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding: 5px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.row ul li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.chair1 {
  max-width: 350px;
}

.rows {
  flex: 25%;
  max-width: 350px;
  background-color: azure;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 3px 4px 5px rgba(180, 180, 180, 0.532);
}

@media (width < 576px) {
  .rows {
    flex: 25%;
    max-width: 320px;
    background-color: azure;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 3px 4px 5px rgba(180, 180, 180, 0.532);
  }
  .rows h1 {
    text-align: center;
  }
  .chair1 {
    max-width: 320px;
  }
}
:root {
  --text-Color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #fefffd;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.027);
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 10px;
  position: sticky;
  top: 0;
}

#menu {
  display: none;
}

.list {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  padding-right: 30px;
  padding-left: 10px;
  transition: background-color 0.5s ease-in;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

a:hover {
  background-color: transparent;
}

.icon {
  margin-left: 2rem;
  color: black;
}

.icon h1 {
  font-size: 1.5rem;
}

@media (width < 576px) {
  .navbar-container {
    height: 61px;
    flex-direction: column;
    align-items: flex-start;
    transition: height 0.5s ease;
    position: relative;
  }
  .high {
    height: 200px;
  }
  .list {
    width: 100%;
    margin-top: 0px;
  }
  a {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
  }
  .icon {
    margin: 0;
    padding: 10px;
  }
  #menu {
    position: absolute;
    display: block;
    fill: black;
    right: 10px;
    top: 2px;
    cursor: pointer;
    z-index: 1;
  }
  .icon {
    margin-left: 0;
    margin-bottom: 0px;
  }
}
header {
  display: flex;
  margin-top: 2rem;
  gap: 0rem;
}

@media (width < 576px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
  }
}
.hero {
  max-width: 100%;
  height: auto;
  border-radius: 0px 20px 20px 0px;
}

.header-text-box {
  width: 50%;
  height: auto;
  background-color: #010226;
  padding: 2rem;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
}

.header-text-box h1 {
  font-size: 3rem;
  margin-bottom: 1.4rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.header-text {
  line-height: 2.3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.btn {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px 0;
  font-size: 1rem;
  padding: 1rem;
  width: 200px;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  color: #010226;
  font-weight: bold;
  box-shadow: 2px 3px 4px 5px rgba(255, 255, 255, 0.152);
}

.header-img {
  width: 50%;
}

@media (width < 576px) {
  .header-text-box {
    width: 100%;
    height: auto;
  }
  .header-text-box h1 {
    font-size: 2.3rem;
    margin-bottom: 5px;
  }
  .header-img {
    width: 100%;
  }
  .header-text {
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .btn {
    background-color: #087f5b;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    padding: 1rem;
    width: 180px;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    color: white;
  }
  .hero {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
.bestseller {
  margin-top: 2rem;
}

.bestseller h1 {
  font-size: 3rem;
  color: #010226;
}

.bestcontainer {
  display: flex;
  padding-top: 15px;
  padding-bottom: 40px;
  justify-content: space-evenly;
  gap: 1rem;
}

.chair {
  max-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.best1 {
  width: 33.3333333%;
  background-color: #ffffff;
  margin-inline: auto;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
  padding-bottom: 10px;
  border-radius: 10px;
}

.best1 h1 {
  font-size: 1.5rem;
  text-align: center;
}

.best1 ul li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.loicon {
  color: #010226;
  padding-right: 10px;
}

.price {
  text-align: center;
}

.price p {
  display: inline-block;
  float: left;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: red;
}

.price button {
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background: #010226;
  color: #fff;
  font-weight: bold;
}

@media (width < 576px) {
  .bestcontainer {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
  }
  .best1 {
    width: 100%;
    background-color: #ffffff;
    margin-inline: auto;
    box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
    padding-bottom: 10px;
  }
  .best1 h1 {
    font-size: 2rem;
    text-align: center;
  }
}
.card {
  margin-top: 1rem;
}

.card-container {
  display: flex;
  background-color: #010226;
  gap: 1rem;
  padding: 15px 20px 10px 20px;
  border-radius: 10%;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
}

.customer {
  max-width: 100%;
  height: auto;
  border-radius: 10% 10% 10% 10%;
}

.card1 {
  width: 40%;
}

.card2 {
  width: 60%;
  margin-top: 20px;
}

.card2 h2 {
  font-size: 3rem;
  color: black;
  padding-bottom: 20px;
  color: #fff;
}

.card2 p {
  font-size: 1.5rem;
  color: black;
  line-height: 2.5rem;
  color: #fff;
}

@media (width < 576px) {
  .card {
    margin-top: 1rem;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
    padding: 10px 10px 5px 10px;
  }
  .customer {
    max-width: 100%;
    height: auto;
    border-radius: 0;
  }
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
  .card2 h2 {
    font-size: 2rem;
    color: black;
    padding-bottom: 15px;
    color: #fff;
  }
  .card2 p {
    font-size: 1.5rem;
    color: black;
    line-height: 2rem;
    color: #fff;
  }
}
footer {
  background-color: #000009;
  color: white;
}

footer p {
  text-align: center;
}

.fcontainer {
  text-align: center;
  padding: 20px;
  height: 200px;
}

.foot1 {
  width: 50%;
}

@media (width < 576px) {
  .fcontainer {
    padding: 20px;
    height: auto;
  }
  footer h1 {
    font-size: 1.7rem;
  }
}
.set1 {
  margin-top: 3rem;
}

.set1 h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
  border-radius: 10px 0;
  color: #010226;
}

.set1container {
  display: flex;
  gap: 1rem;
}

.f1 {
  width: 33.3333333%;
  padding: 5px;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
  border-radius: 10px 0;
  background-color: #fefffd;
}

.f1 h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.f1 p {
  padding: 5px;
  line-height: 2rem;
  font-size: 1rem;
}

@media (width < 576px) {
  .set1 {
    margin-top: 1rem;
  }
  .set1 h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .set1container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .f1 {
    width: 94%;
    margin: 0 auto;
  }
  .f1 h3 {
    font-size: 1.5rem;
  }
  .f1 p {
    padding: 10px;
    text-align: center;
  }
}
.booticon {
  font-size: 4rem;
  color: #010226;
}

.f1 {
  text-align: center;
}

.containerabout {
  color: #fff;
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
  height: auto;
  border-radius: 10% 0% 0% 10%;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
}

.one {
  display: flex;
  gap: 0rem;
  padding: 20px;
}

.onediv {
  background-color: #010226;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
  padding: 2rem;
  line-height: 1.5rem;
}

.onediv h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.navbar-containe {
  z-index: 10;
}

@media (width < 576px) {
  .one {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
  }
  .logo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
  }
  .onediv p {
    text-align: justify;
  }
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

input[type="submit"] {
  width: 50%;
  background-color: #d90429;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: transparent;
  border: solid white 1px;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

.spcolor {
  background-color: #d90429;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.loop-container {
  position: relative;
  width: 100%;
  display: flex;
  /* padding-right: 24px; */
}

.item {
  position: absolute;
  font-size: 15rem;
  white-space: nowrap;
  margin: 0;
}

span {
  transition: all 0.2s;
  cursor: default;
}

.hover:hover {
  color: gray;
  transition: all 0.2s;
} /*# sourceMappingURL=style.css.map */
