.containerabout {
  color: #fff;
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
  height: auto;
  border-radius: 10% 0% 0% 10%;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
}
.one {
  display: flex;
  gap: 0rem;
  padding: 20px;
}

.onediv {
  background-color: #010226;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
  padding: 2rem;
  line-height: 1.5rem;
}
.onediv h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.navbar-containe {
  z-index: 10;
}

@media (width < 576px) {
  .one {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
  }
  .logo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
  }
  .onediv p {
    text-align: justify;
  }
}
