@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
header {
  display: flex;
  margin-top: 2rem;
  gap: 0rem;
}

@media (width < 576px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
  }
}
.hero {
  max-width: 100%;
  height: auto;
  border-radius: 0px 20px 20px 0px;
}
.header-text-box {
  width: 50%;
  height: auto;
  background-color: #010226;
  padding: 2rem;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.152);
}
.header-text-box h1 {
  font-size: 3rem;
  margin-bottom: 1.4rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.header-text {
  line-height: 2.3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fff;
}
.btn {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px 0;
  font-size: 1rem;
  padding: 1rem;
  width: 200px;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  color: #010226;
  font-weight: bold;
  box-shadow: 2px 3px 4px 5px rgba(255, 255, 255, 0.152);
}

.header-img {
  width: 50%;
}

@media (width < 576px) {
  .header-text-box {
    width: 100%;
    height: auto;
  }
  .header-text-box h1 {
    font-size: 2.3rem;
    margin-bottom: 5px;
  }
  .header-img {
    width: 100%;
  }
  .header-text {
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .btn {
    background-color: #087f5b;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    padding: 1rem;
    width: 180px;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    color: white;
  }
  .hero {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
