.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.loop-container {
  position: relative;
  width: 100%;
  display: flex;
  /* padding-right: 24px; */
}

.item {
  position: absolute;
  font-size: 15rem;
  white-space: nowrap;
  margin: 0;
}

span {
  transition: all 0.2s;
  cursor: default;
}

.hover:hover {
  color: gray;
  transition: all 0.2s;
}
